body,
html {
    background-color: lightgray;
    text-align: justify;
    font-family: monospace;
    font-size: 15px;
}
.container {
    margin: 50px auto;
    position: relative;
    
}

#questionsAndChoices {
    /*background-color: lightcoral;*/
    border-radius: 10px;
    height: 50px;
}



#choiceA,
#choiceB,
#choiceC,
#choiceD {
    background-color: rgb(57, 95, 221);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
    cursor: pointer;
   
}

#clock,
#timerEl {
    position: absolute;
    bottom: 0;
    text-align: right;
}

#results {
    background-color: rgb(150, 238, 115);
    border-radius: 10px;
    bottom: 25px;
    position: absolute;    
}

@media (max-width: 750px){
    .container {
        margin: 0 auto;
        
    }

    
}
@media (max-width: 500px){
    .container {
        margin: 70px auto;
    }

    
}