body,
html {
    background-color: lightgray;
    font-family: monospace;
    font-size: 15px;
}
.container {
    margin: 50px auto;
    position: relative;
    
}
button {
    color: white;
}
#outsideWrapper {
  padding-left: 50px;  
}
header {
    margin-top: 50px;
}
#results-here{
    margin-top: 50px;
    text-align: center;
}
#questionsAndChoices {
    border-radius: 10px;
    height: 50px;
    margin: 0 25%;
}
li{
    color: whitesmoke;
}
input {
    margin-bottom: 10px;
}
.choice,
.correct {
    width: 525px;
    background-color: rgb(57, 95, 221);
    border-radius: 10px;
    height: 55px;
    margin-bottom: 5px;
    cursor: pointer;
}


#clock,
#timerEl {
    position: absolute;
    right: 10px;
    bottom: 0;
    text-align: right;
}



@media (max-width: 1000px){
    .container,
    #questionsAndChoices,
    #outsideWrapper,
    .choice {
        
        margin-left: 0;
    }
    
    .choice,
    .correct {
        height: 65px;
        width: 350px;
        margin-left: -25px;
        font-size: 15px;
    }

    h4 {
        margin-top: 1px;
        font-size: 15px;
    }
}